[nginx-stable]
name=nginx stable repo
baseurl={{ nginx_centos_yum_repository_stable_url }}/$releasever/$basearch/
gpgcheck=1
enabled=1
gpgkey={{ nginx_centos_gpg_key_url }}
module_hotfixes=true

[nginx-mainline]
name=nginx mainline repo
baseurl={{ nginx_centos_yum_repository_mainline_url }}/$releasever/$basearch/
gpgcheck=1
enabled={{ nginx_centos_yum_repository_mainline_enabled | int }}
gpgkey={{ nginx_centos_gpg_key_url }}
module_hotfixes=true